<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Book Recommendation System</h1>
        <form action="/recommendation" method="post">
            <label for="genre">Select a genre:</label>
            <select id="genre" name="genre">
                {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>
            <button type="submit">Get Recommendations</button>
        </form>
    </div>
</body>

</html>
